html {
    height: 100%;
    width: 100%
  }
body {
    background-color: antiquewhite
    max-height: 100%;
    max-width: 100%;
  }

.adDisplay1 {    
    background: rgb(212, 70, 27);
    color: white;
}

.adDisplay2 {
    background: rgb(212, 70, 27);
    color: white;
}

.health-bar1{    
    width: 500px;
    height: 47px;
    background: grey;
    float: left;
    border-color: blue;
    border-style: solid;
    border-width: 4px;
}
.health-bar2{    
    width: 500px;
    height: 47px;
    background: grey;
    float: right;
    border-color: red;
    border-style: solid;
    border-width: 4px;
}

.percentage{
    width: 100%;
    height: 20px;
    margin: 0 auto;
    background: rgb(71, 179, 0);

    color: #333;
    font-weight: 700;
    text-align: center;
}

#infoButton {
    position: absolute;
    left: 0px;
}

.row {
    margin: 0px 0px 0px 0px;
}

.fighter1 {
    text-align: left;
}

.fighter2 {
    text-align: right;
}

.menu-row {
    position: absolute;
    bottom: 0px;
}

.stickFigures {
}

.stickOne {
}

.stickTwo {
    transform: rotateY(180deg);
}

.weapon-box {
    /*border-color: grey;
    border-style: double;
    border-width: 4px;*/
}

.armor-box {
    /*border-color: grey;
    border-style: double;
    border-width: 4px;*/
}

.menu-box {
    padding: 10px;
    border-color: grey;
    border-style: double;
    border-width: 10px;
}
